In [1]:
import pandas as pd
data = pd.read_csv('diem_thi_thpt_2022.csv')
data

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd
0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.00,8.75
1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.50,8.25
2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.50,8.75
3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.50,7.50
4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.50,8.25
...,...,...,...,...,...,...,...,...,...,...
995436,64006584,8.4,6.75,4.6,NaN,NaN,NaN,6.50,6.75,9.00
995437,64006585,5.6,6.50,2.8,NaN,NaN,NaN,6.25,6.75,8.50
995438,64006586,5.8,6.00,6.6,NaN,NaN,NaN,7.25,8.00,8.00
995439,64006587,7.6,6.75,7.0,NaN,NaN,NaN,8.75,7.25,9.75
995440,64006588,6.6,4.50,3.2,NaN,NaN,NaN,3.00,6.00,7.50